body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
	background-color: chartreuse;
}

.welcome-heading {
    color: #007bff;
}

.welcome-text {
    font-size: 18px;
    color: #333;
}
